---
import { Image } from 'astro:assets';

// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center  justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
  <div>
    <img src="https://r2.cashtech.company/stores%2F02ejcHyfYenZeunK3jpI.png" class="w-100 h-100"/>
  </div>
   
    <!-- Second -->
     <div> <img src='https://r2.cashtech.company/stores%2F0SNTBEPTuTm4Sd9nSnGU.png'class="w-100 h-100"/></div>
  
    <!-- Third -->
     <div>
      <img src='https://r2.cashtech.company/stores%2F0Zo5GaFa55dJmL82QcNF.png' class="w-100 h-100"/>
     </div>
    
    <!-- Fourth -->
     <div>
      <img   src='https://r2.cashtech.company/stores%2F1RO2D0XCXqzVrKjVnJuz.png' class="w-100 h-100"/>
     </div>
    
  </div>
</section>
