---
import { Image } from 'astro:assets';
import logo1 from "@images/logo1.png";
import logo2 from "@images/logo20.png";
import logo3 from "@images/logo3.png";
import logo4 from "@images/logo4.png";
import logo5 from "@images/logo5.png";
import logo6 from "@images/logo6.png";
import logo7 from "@images/logo7.png";
import logo8 from "@images/logo8.png";
import logo9 from "@images/logo9.png";
import logo10 from "@images/logo10.png";
import logo11 from "@images/logo11.png";
import logo12 from "@images/logo12.png";
import logo13 from "@images/logo13.png";
import logo15 from "@images/logo15.png";
import logo17 from "@images/logo17.png";
import logo19 from "@images/logo17.png";
import logo21 from "@images/logo17.png";
import logo22 from "@images/logo17.png";
import logo23 from "@images/logo17.png";
import logo25 from "@images/logo17.png";
import logo29 from "@images/logo17.png";
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}

const imgs = [
  {
    src:logo1,
    alt:'logo1',
  },
  {
    src:logo2,
    alt:'logo2',
  },
  {
    src:logo3,
    alt:'logo3',
  },
  {
    src:logo4,
    alt:'logo4',
  },
  {
    src:logo5,
    alt:'logo5',
  },
  {
    src:logo6,
    alt:'logo6',
  },
  {
    src:logo7,
    alt:'logo7',
  },
  {
    src:logo8,
    alt:'logo8',
  },
  {
    src:logo9,
    alt:'logo9',
  },
  {
    src:logo10,
    alt:'logo10',
  },
  {
    src:logo11,
    alt:'logo11',
  },
  {
    src:logo12,
    alt:'logo12',
  },
  {
    src:logo13,
    alt:'logo13',
  },
  {
    src:logo15,
    alt:'logo15',
  },
  {
    src:logo17,
    alt:'logo17',
  },
  {
    src:logo19,
    alt:'logo19',
  },
  {
    src:logo21,
    alt:'logo21',
  },
  {
    src:logo22,
    alt:'logo22',
  },
  {
    src:logo23,
    alt:'logo23',
  },
  {
    src:logo25,
    alt:'logo25',
  },
  {
    src:logo29,
    alt:'logo29',
  },
]
---


<section
  class="mx-auto max-w-[85rem] overflow-x-hidden px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full "
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-row space-x-6 sm:flex-row sm:gap-x-8 sm:gap-y-0 lg:gap-x-10 animate-loop-scroll "
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
     {
      imgs.map((images)=>(
      <Image
        src={images.src}
        alt={images.alt}
        class="max-w-none scale-100 object-cover object-center"
        draggable={"false"}
        loading={"eager"}
        format={"png"}
      />
      ))
     }
      
     
  </div>
</section>
