---
import PrimaryCTA from "../../buttons/PrimaryCTA.astro";


---


<h3 class=" text-neutral-800 dark:text-neutral-200 ">
  Ficou interessado? Entre em contato conosco.
 </h3>
<div class="mt-4 flex flex-col items-center gap-2  rounded-lg   p-2 dark:bg-neutral-800 sm:flex-row sm:gap-3">
  <div class="w-700  flex flex-col">
    <input
      type="text"
      name="name"
      class="block w-full rounded-lg border-transparent bg-neutral-100 px-4 py-3 text-sm text-neutral-600 focus:border-orange-400 focus:ring-orange-400 disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-neutral-700 dark:text-gray-300 dark:placeholder:text-neutral-300"
      placeholder='Nome'
    />
    <input
      type="text"
      name="email"
      class="block my-2 w-full rounded-lg border-transparent bg-neutral-100 px-4 py-3 text-sm text-neutral-600 focus:border-orange-400 focus:ring-orange-400 disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-neutral-700 dark:text-gray-300 dark:placeholder:text-neutral-300"
      placeholder='E-mail'
    />
    <input
      type="text"
      name="company"
      class="block w-full rounded-lg border-transparent bg-neutral-100 px-4 py-3 text-sm text-neutral-600 focus:border-orange-400 focus:ring-orange-400 disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-neutral-700 dark:text-gray-300 dark:placeholder:text-neutral-300"
      placeholder='Empresa'
    />
    </div>
    <div class='w-700 flex flex-col'>
      <input
      type="text"
      name="city"
      class="block w-full rounded-lg border-transparent bg-neutral-100 px-4 py-3 text-sm text-neutral-600 focus:border-orange-400 focus:ring-orange-400 disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-neutral-700 dark:text-gray-300 dark:placeholder:text-neutral-300"
      placeholder='Cidade'
    />
    <input
      type="text"
      name="phone"
      class="block w-full my-2 rounded-lg border-transparent bg-neutral-100 px-4 py-3 text-sm text-neutral-600 focus:border-orange-400 focus:ring-orange-400 disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-neutral-700 dark:text-gray-300 dark:placeholder:text-neutral-300"
      placeholder='Telefone'
    />
    <input
      type="text"
      name="segment"
      class="block w-full rounded-lg border-transparent bg-neutral-100 px-4 py-3 text-sm text-neutral-600 focus:border-orange-400 focus:ring-orange-400 disabled:pointer-events-none disabled:opacity-50 dark:border-transparent dark:bg-neutral-700 dark:text-gray-300 dark:placeholder:text-neutral-300"
      placeholder='Segmento'
    />
    </div>
</div>
<div class="w-full justify-center p-2">
<PrimaryCTA title='Enviar proposta' url='/#' noArrow  />
</div>
